*{
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
.hidden {
  display: none;
}
body {
  font-family: 'Slabo 27px', serif;
  color: #383838;
}
h1 {
  font-family: 'Oswald', sans-serif;
  color: black;
}
h2{
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

img{
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 25px;
  border: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor:pointer;
}
.btn:hover {
  background-color: #4f1313;
}

#audio_target{
  top:10px;
  position:absolute;
  filter:opacity(0.5);
}
#audio_target:hover{
  filter:opacity(1);
}
#picture_target{
  height: 500px;
  background-color: black;
}

#img_drop, #last_img_drop{
  height: 100%;
}

#scene_target{
  min-height: 200px;
  padding: 20px;
  margin-top: 3px;
}

#scene_target p {
  margin: 0;
  font-style: italic;
  text-align: justify;
}
form {
  padding-top: 10px;
  padding-left: 10px;
}
label {
  display: inline-block;
  margin-bottom: 10px;
}
input {
  margin-right: 5px;
}
#btn_bar {
  margin-bottom: 20px;
}
#credits_page{
  margin-left: 10px;
  margin-right: 10px;
}
#credits_page ul {
  list-style: none;
}
#credits_page a{
  color: #8e8e8e;
}
#credits_page a:hover {
color: black;
transition: all .3s ease 0s;
text-decoration: underline;

}
/*FOOTER*/
footer {
 border-top: 1px solid black;
 text-align: center;
}

@media screen and (max-width: 700px){

  #picture_target{
    height: 300px;
  }
  #scene_target{
    border: none;
  }

}